<div class="left-container">
    <div class="sign-up">
        <div class="content">
            <ng-lottie [options]="welcomeAnimation" [width]="'100%'" [height]="'100%'"></ng-lottie>
        </div>
    </div>
</div>
<div class="right-container">
    <div class="right-side-page-content">
        <div class="top-side">
            <h1>Create An Account</h1>
            <p>Already have an account? <a routerLink="/sign-in">Sign In</a></p>
        </div>
        <form class="form-common" [formGroup]="registerForm" (submit)="onSubmit()">
            <mat-form-field>
                <mat-label>Email address</mat-label>
                <input formControlName="email" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <mat-icon class="set-visibility-icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                @if (registerForm.controls.password.invalid && registerForm.controls.password.errors?.minLength && (registerForm.controls.password.dirty || registerForm.controls.password.touched)){
                    <mat-error>Password must be minimum 6 characters!</mat-error>
                }
            </mat-form-field>

            @if (formError){
                <mat-error class="form-mat-error">{{formError}}</mat-error>
            }

            <div class="form-submit-button-container">
                <button mat-flat-button class="submit-button-style" [disabled]="submitted">Sign Up</button>
            </div>
        </form>
    <div>
</div>