<div class="left-container">
    <div class="forgot-password">
        <div class="content">
            <ng-lottie [options]="forgotPasswordAnimation" [width]="'100%'" [height]="'100%'"></ng-lottie>
        </div>
    </div>
</div>
<div class="right-container" >
    <div class="right-side-page-content">
        <div class="top-side forgot-password-header">
            <h1>Forgot Password</h1>
        </div>
        @if (!hasParams) {
            <form class="form-common" [formGroup]="forgotPassword" (submit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Email address</mat-label>
                    <input formControlName="email" matInput type="text">
                </mat-form-field>
    
                @if (formError){
                    <mat-error class="form-mat-error">{{formError}}</mat-error>
                }
    
                <div class="form-submit-button-container">
                    <button mat-flat-button class="submit-button-style" [disabled]="submitted">Resend</button>
    
                    <span>Return to <a routerLink="/sign-in">Sign In</a></span>
                </div>
            </form>
        }@else {
            <form class="form-common" [formGroup]="resetPassword" (submit)="resetPasswordSubmit()">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input formControlName="passwordConfirm" matInput type="password">
                </mat-form-field>
    
                @if (formError){
                    <mat-error class="form-mat-error">{{formError}}</mat-error>
                }

                <div class="form-submit-button-container reset-password">
                    <button mat-flat-button class="submit-button-style" (click)="resetPasswordSubmit()" [disabled]="submitted">Reset</button>
                </div>
            </form>
        }
        
    <div>
</div>