<div class="left-container">
    <div class="sign-up-informations">
    </div>
</div>
<div class="right-container">
    <div class="right-side-page-content">
        <div class="top-side">
            <h1>Informations</h1>
            <p>Please provide your login information to help us get to know you better.</p>
        </div>
        <form class="form-common" [formGroup]="informationForm" (submit)="onSubmit()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Surname</mat-label>
                <input formControlName="surname" matInput type="text">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput formControlName="birthday" [matDatepicker]="picker" [max]="maxDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
            </mat-form-field>

            <div class="form-submit-button-container">
                <button mat-flat-button class="submit-button-style" [disabled]="submitted">Done</button>
            </div>
        </form>
    <div>
</div>