.form-submit-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.sign-in {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/img/onboarding/sign_in.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;   
}

