<app-carousel></app-carousel>

<div class="container home-page">
    <div class="size-12">
        <div class="card-container">
            <mat-tab-group class="books-releases-offers">
                <mat-tab label="New Books">
                    <app-carousel-multi [books]="books"></app-carousel-multi>
                </mat-tab>
                <mat-tab label="New Releases">
                    <app-carousel-multi [books]="books"></app-carousel-multi>
                </mat-tab>
                <mat-tab label="Offers of The Day">
                    <app-carousel-multi [books]="books"></app-carousel-multi>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>

    <div class="size-12">
        <div class="card-container">
            <div class="card-header">
                <h3>Selected for You</h3>
            </div>
            <app-carousel-multi [books]="books"></app-carousel-multi>
        </div>

    </div>
</div>