<div class="container">
    <div class="row">
        <h1>Home</h1>
    </div>

    <div class="size-12">
        <div class="card-container">
            <div class="card-header">
                <h3>New Books</h3>
            </div>
            <div class="card-content">
                <div class="card-image-container">
                    <img class="card-image" src="assets/img/stephan_king_it.png" alt="cover">
                </div>
                <div class="card-details">
                    <div class="card-name">
                        <p>It - Stephan King</p>
                    </div>
                    <div class="card-type">
                        <p>Horror</p>
                    </div>
                    <div class="card-price">
                        <h4>$20</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>