<div class="container">
    <div class="row">
        <h1>Home</h1>
    </div>

    <div class="size-12">
        <div class="card-container">
            <div class="card-header">
                <h3>New Books</h3>
            </div>

            <p-carousel [value]="products" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">
                <ng-template let-product pTemplate="item">
                    <app-book-card></app-book-card>
                </ng-template>
            </p-carousel>
        </div>

    </div>
</div>
