.sidenav-container {
    background-color: #f1f1f1;
}

.expand-button-mat-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: .5rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.expand-button mat-icon {
    display: flex;
    text-align: center;
    justify-content: center;
}

.expand-button {
    display: flex;
    text-align: center;
    justify-content: center;
}

mat-toolbar {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 6.5rem;
    position: fixed !important;
    z-index: 10;
}

.active {
    background-color: #2980b9 !important;

    * {
        color: white !important;
    }
}

.toolbar-first-container{
    background-color: #3498db;
    display: flex;
    width: 100%;
    height: 4rem;
}

.toolbar-second-container{
    background-color: #2980b9;
    display: flex;
    width: 100%;
    height: 2.5rem;
}

mat-nav-list {
    padding-top: 0;

}

mat-drawer {
    border: none;
    height: 100%;
    position: fixed !important;
}

.menu-icon {
    color: white;
}

.side-navigation-logo {
    background: none;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
}

.side-navigation-logo img {
    width: 7rem;
}

.side-navigation-mat-form-field {
    height: 2rem;
}

.mat-toolbar-spacer {
    flex: 1 1 auto;
}

.mat-menu-log-out-div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: .5rem;
}

.side-nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.side-nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-inline: 1rem;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.side-nav-item-button {
    display: flex;
    align-items: center;
    height: 2.5rem;
    cursor: pointer;
    border-radius: .3rem;
    padding: 0 0.5rem;
}

.side-nav-item-button-span {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: 8.5rem;
}

::ng-deep .side-navigation-logo.ng-star-inserted {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content {
    padding-top: 5rem;
    height: 100dvh;
}

.side-nav-item {
    color: #54636E;

    * {
        font-weight: 700;
    }
}

.sign-up-container{
    *,a{
        font-size: 12px !important;
    }
    color: #54636E;
    padding-inline:16px;
}

.mat-menu-item-button{
    *{
        color: #54636E;
    }
}

::ng-deep .mat-mdc-menu-item-text{
    color: #54636E;
}

.user-box{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: none;
    color: #54636E;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    min-height: 35px;
}

::ng-deep .basket-box{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: none;
    color: #54636E;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    min-height: 35px;

    .material-icons{
        font-size: 20px;
        display: flex;
        align-items: center;
    }
}

.mat-toolbar-right-side{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.toolbar-links{
    display: flex;
    flex-wrap: wrap;
    max-height: 2.5rem;
    overflow-y: hidden;
}

.sidenav-box{
    height: 4rem;
    background-color: #3498db;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;
    padding-inline: 1rem;
    font-size: 16px;
    font-weight: 700;
}

.toolbar-link{
    min-height: 2.5rem;
    color: white !important;
    padding-inline: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
}