.sidenav-container {
    background-color: #f1f1f1;
}

.expand-button-mat-icon {
    width: 4.5rem;
    height: 4.5rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (max-width:767px) {
    .expand-button-mat-icon {
        display: none;
    }

    .hamburger {
        display: flex !important;
    }

    .mobile-expanded {
        display: flex;
        justify-content: center;
    }

}

.expand-button mat-icon {
    display: flex;
    text-align: center;
    justify-content: center;
}

.expand-button {
    display: flex;
    text-align: center;
    justify-content: center;
}

.list-item-container {
    display: flex;
    justify-content: center;
}


@media (min-width:768px) {
    .expand-button-mat-icon {
        display: flex;
    }

    .mobile-expanded {
        display: none;

    }

    .hamburger {
        display: none;
    }
}

mat-toolbar {
    background-color: #3498db;
    padding: 0;
    height: 5rem;
    position: fixed !important;
    z-index: 10;
}

.hamburger {
    width: 4.5rem;
    height: 4.5rem;
    background: none;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.hamburger-div {
    display: flex;
    text-align: center;
    justify-content: center;
}

mat-nav-list {
    padding-top: 0;

}

mat-drawer {
    border: none;
    height: 100%;
    position: fixed !important;
    padding-top: 5rem;
}

.auto-click {
    display: none;
}

.menu-icon {
    color: white;
}

.side-navigation-logo {
    background: none;
    border: none;
}

.side-navigation-logo img {
    width: 5rem;
}

.side-navigation-mat-form-field {
    height: 2rem;
}

.mat-toolbar-spacer {
    flex: 1 1 auto;
}

.mat-menu-log-out-div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: .5rem;
}

.side-nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.side-nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-inline: 1rem;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.side-nav-item-button {
    display: flex;
    align-items: center;
    height: 2.5rem;
    cursor: pointer;
    border-radius: .3rem;
    padding: 0 0.5rem;
}

.side-nav-item-button-span {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: 8.5rem;
}

::ng-deep .side-navigation-logo.ng-star-inserted {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content {
    padding-top: 5rem;
    height: 100dvh;
}

.side-nav-item {
    color: #54636E;

    * {
        font-weight: 700;
    }
}

.sign-up-container{
    *,a{
        font-size: 12px !important;
    }
    color: #54636E;
    padding-inline:16px;
}

.mat-menu-item-button{
    *{
        color: #54636E;
    }
}

::ng-deep .mat-mdc-menu-item-text{
    color: #54636E;
}