<div class="card-content">
    <div class="card-content-container">
        <div class="card-image-container">
            <img class="card-image" src="assets/img/stephan_king_it.png" alt="cover">
        </div>
        <div class="card-details">
            <div class="card-name">
                <p>{{book.cardName}}</p>
            </div>
            <div class="card-type">
                <p>Horror</p>
            </div>
            <div class="card-price">
                <h4>$20,00</h4>
            </div>
        </div>
        <button mat-flat-button class="add-button">Add</button>
    </div>
</div>