<div class="card-content">
    <div class="test">
        <div class="card-image-container">
            <img class="card-image" src="assets/img/stephan_king_it.png" alt="cover">
        </div>
        <div class="card-details">
            <div class="card-name">
                <p>It sadopfksapod asdfsdf asdfasdf- Stephan King</p>
            </div>
            <div class="card-type">
                <p>Horror</p>
            </div>
            <div class="card-price">
                <h4>$20,00</h4>
            </div>
        </div>
        <button mat-flat-button class="submit-button-style">Buy</button>
    </div>
</div>